/* styles.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('background.jpg'); /* Añadir la imagen de fondo */
    background-size: cover;
    color: white;
    text-align: center;
}

header {
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}
